

/*debug*/

.debug 
{
   *
   {
    border: 1px solid black;
   }

  


   
        
}


/*common */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
    vertical-align: middle;
}

.container {
    margin: 0 auto;
    width: 70%;
    max-width: 1200px;
}

.weight {
    font-weight: 600;
}



.row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -1rem;

    .col_4 {
        width: calc(100% / 12 *4);
        padding: 1rem;
    
        .card {
            position: relative;
        
            .heart {
                position: absolute;
                top: 1rem;
                right: 0;
                font-size: 20px;
                padding: 10px;
                z-index: 1000;
            }


            .info {
                position: absolute;
                bottom: 2.5rem;
                left: 0;
                font-size: 15px;
                z-index: 1000;
                color: white;

                .sale {
                    background-color: red;
                    margin-right: 5px;
                }

                .eco {
                    background-color: green;
                }

                
            }

            

           
            
        }

        .low {
            color: red;
            font-size: 0.9rem;
            font-weight: 600;

        
            del {
                color: black;
            }
        
        }

        .brand {
            font-size: 0.9rem;
        }

        .description {
            font-size: 1rem;
            font-weight: 600;
        }
        
    }
    
    
    
}





/*header */

header 
{
 background-color: rgb(255, 112, 24);
 padding: 1rem 0;
 position: sticky;
 top: 0;
 left: 0;
 z-index: 2000;

}
a{
    list-style: none;
    color: white;
    text-decoration: none;
}

.menu {
    display: flex;
    justify-content: space-between;

}


.logo {
    height: 30px;
}


/*main */


.info > * {
    padding: 5px;
}





.overlay {
    position: absolute;
    display: none;
    top: 0;
}

.card:hover {

    .overlay {
        display: block;
    }
}
.heart:hover {

        color: red;
}

/*footer */

footer {
    background-color: black;
    color: white;
    padding: 1rem 0;
}

.big {
    font-size: 1.2rem;
}

.foot {
    font-size: 0.8rem;
}

.weight.foot {
    margin-bottom: 5px;
}