

/*debug*/

.debug 
{
   *
   {
    border: 1px solid black;
   }

    header 
    {
     background-color: rgb(255, 112, 24);
     padding: 1rem 0;

    }


   
        
}


/*common */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

.container {
    margin: 0 auto;
    width: 70%;
    max-width: 1200px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -1rem;
}

.col_4 {
    width: calc(100% / 12 *4);
    padding: 1rem;
}

.card {
    position: relative;
}

.heart {
    position: absolute;
    top: 1rem;
    right: 0;
    font-size: 20px;
    padding: 10px;
}

/*header */

header 
{
    background-color: rgb(255, 112, 24);
    padding: 1rem 0;

}

a {
    list-style: none;
    color: white;
}

.menu {
    display: flex;
    justify-content: space-between;

}


.logo {
    height: 30px;
}


/*main */



/*footer */

